div{
    background-color: black;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 5px;
    border-color: white;
    border-radius: 25px;
    min-width: 20em;
}
.error{
    height: 2em;
    color: white;
}
.header{
    display: block;
    height: 2em; 
    color:red; 
    text-align: center;
}
.invisible{
    display:none;
}
.log{
    display:block;
    height: 11em;
    color:white;
    overflow-y: scroll;
}
.room{
    display: block;
    height: 6em; 
    color: white;
}
.container {
    background-color: darkred;
    text-align: center;
    min-height: 10em;
    margin-left: auto;
    margin-right: auto;
}

.container .info-box {
    display: inline-block;
    height: 10em;
}
.objects{
    width: 30%;
    overflow-y: scroll;
    color: blue;
}
.characters{
    width: 30%;
    overflow-y: scroll;
    color: red;
}
.inventory{
    color: greenyellow;
}
.equipment{
    color:aqua;
}

.status {
    color: blue;
}
.user_input{
    width: 50em;
    height:1.5em; 
    color: white;
}
.button{
    height:3em; 
    color:blue;
}
.footer{
    grid-area: footer; 
    height: 75px}
.grid-container{
    background-color: darkred;
    padding: 10px;
}

.grid-container input{
    background-color: black;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    border: 5px;
    border-color: white;
    border-radius: 25px;
}
.grid-container button{
    background-color: black;
    font-family: monaco, Consolas, "Lucida Console", monospace;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    border: 5px;
    border-color: white;
    border-radius: 25px;
    text-align: center;
}

#status-container {
    background-color: darkred;
}